* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #070e15;
}

.MultiButtonGroup {
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MultiButton {
  padding: 20px 30px;
  background: #0e6dd4;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  border-radius: 8px;
}